array set plot_config {
    arrow,status       1                misc,background    #FFFFFF
    arrow,antialias    1                misc,drawboundary  1
    arrow,outlinewidth 0.0              misc,boundarywidth 1
    arrow,outlinecolor #000000          misc,boundarycolor #000000
    arrow,colormap     Red-Black-Blue   misc,boundarypos   front
    arrow,colorcount   100              misc,matwidth      0
    arrow,quantity     z                misc,matcolor      #FFFFFF
    arrow,colorphase   0                misc,margin        10
    arrow,colorreverse 0                misc,width         1920
    arrow,autosample   1                misc,height        1440
    arrow,subsample    10               misc,crop          1
    arrow,size         2                misc,zoom          0
                                        misc,rotation      0
    pixel,status       1                misc,datascale     0
    pixel,colormap     Blue-White-Red   misc,relcenterpt   {0.5 0.5 0.5}
    pixel,colorcount   100
    pixel,opaque       1                viewaxis            +z
    pixel,quantity     mag              viewaxis,xarrowspan {}
    pixel,colorphase   0                viewaxis,xpixelspan {}
    pixel,colorreverse 0                viewaxis,yarrowspan {}
    pixel,autosample   1                viewaxis,ypixelspan {}
    pixel,subsample    0                viewaxis,zarrowspan {}
    pixel,size         2                viewaxis,zpixelspan {}
}